html {
    scroll-behavior: smooth;
}

.nav-bar {
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    width: 98%;
    padding: 7px;
    margin: 0.5% 0 0.5% 0;
    height: 30px;
    display: inline-flex;
    color: white;
    justify-content: flex-end;
}

.nav-bar div {
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(36, 133, 136);
}

.contact a {
    text-decoration: none;
    color: white;
}

.cat:hover,
.contact:hover {
    border-radius: 2px;
    background-color: crimson;
    cursor: pointer;
}

.cat {
    position: relative;
}

.cat ul {
    position: absolute;
    left: -30px;
    top: 35px;
    display: none;
    list-style: none;
    font-size: 22px;
    background-color: #dad6d6;
    padding: 0;
    margin: 0;
    min-width: 240px;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
}

.cat:hover ul {
    display: block;
}

.cat ul li:not(:last-child) {
    border-bottom: 1px solid white;

}

.cat ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
    transition: 0.5s;
    border-radius: 10px;
}

.cat ul li a:hover {
    padding-left: 10px;
}

.nav-bar::before {
    content: "Jimyard";
    position: absolute;
    left: 30px;
    top: 11px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: crimson;
}

/* yop button */

.top {
    width: 50px;
    height: 33px;
    border-radius: 7px;
    background-color: black;
    color: aqua;
    position: fixed;
    right: 20px;
    bottom: 30px;
    transition: all 1s ease;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
}

.top:hover {
    width: 55px;
    border-radius: 12px;
}

/* content */

.contain {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 20%;
    height: fit-content;
    background-color: transparent;
    border: 1px transparent solid;
    border-radius: 15px;
}

.left a {
    text-decoration: none;
    color: black;

}

.left div {
    border: 1px #ededed solid;
    border-radius: 15px;
    margin-bottom: 2px;
    font-size: 30px;
    text-align: center;
}

.left div:hover {
    background-color: rgb(148, 148, 148);
    flex-grow: 15%;
    cursor: pointer;
}


/* pros */
.products {
    width: 58%;
    display: grid;
    /* grid-template-columns: repeat(3, 33%); */
    grid-template-columns: repeat(3, minmax(33%, 1fr));
    grid-template-rows: 300px 300px;
    margin: 0 auto;
    margin-top: 20px;
    left: 25%;
    grid-gap: 2%;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

/* .moth {
    background-color: #f1f1f1;
}

.cpus {
    background-color: #f1f1f1;
}

.acc {
    background-color: #f1f1f1;
} */


img {
    width: 100%;
    height: 100%;
}

.pic {
    /* background-color: transparent; */
    overflow: hidden;
    padding: 2px;
    height: 230px;
}

.des {
    font-size: 15px;
    margin: 1px;
    text-align: center;
}

.pr {
    font-size: 25px;
    margin: 1px;
    text-align: center;
}

/* AD */
.ad {
    width: 19%;
    height: 560px;
    font-size: 12px;
    text-align: center;
    background-color: #e7e7e7;
    border: 1px black solid;
    border-radius: 5px;
}


/* Contact Us */

.contact-us {
    width: 100%;
    height: 200px;
    background-color: rgb(214, 211, 211);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-us .pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid black;

}

.contact-us .text .p1 {
    font-size: 25px;
    font-weight: 1000;
    color: #333;
}

.contact-us .text .p2 {
    font-size: 28px;
    font-weight: 800;
    color: #af2000;
    letter-spacing: -1.5px;
}

/* Responsive */

@media (max-width:600px) {

    .contain .ad,
    .contact {
        display: none;
    }

    .contain {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left {
        width: 100%;
    }

    .products {
        grid-template-columns: auto;
    }

    .moth,
    .mon,
    .cpus,
    .cards,
    .acc,
    .power {
        margin-bottom: 160px;
    }

    .contact-us {
        flex-direction: row;
        flex-wrap: wrap;
        height: 290px;
    }
}